
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5vh;
  color: aliceblue;
  background-color: black;
  text-transform: uppercase;
  font-weight: bold;
}


