
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5vh;
  color: aliceblue;
  background-color: black;
  text-transform: uppercase;
  font-weight: bold;
}


@media (min-width: 768px) {
  .desktop-view {
    display: block;
  }
  .mobile-view {
    display: none;
  }
}

@media (max-width: 767px) {
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: block;
  }
}